@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ibm;
  src: url("../public/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: ibmBold;
  src: url("../public/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
